* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    place-content: center;
    font-size: 1.5rem; 
    font-family: Arial, sans-serif; 
    background-image: linear-gradient(160deg, #563cff 0%, #80D0C7 100%);
    color: whitesmoke; }

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;

    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    color: white;

    }

main {

    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1, p {
    text-align: center;
}

a {

text-decoration:none;
color: rgb(177, 177, 177);
}

a:hover {
    opacity: .85;
}