
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  place-content: center;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(160deg, #563cff 0%, #80d0c7 100%);
  color: whitesmoke;
}

.navbar {
  top: 0px;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  color: white;
}

main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

h1 {
  text-align: center;
  padding-inline-start: 2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: rgb(177, 177, 177);
}

a:hover {
  opacity: 0.85;
  color: #563cff;
}

.blogtxt {
  background-color: whitesmoke;
  border-radius: 1rem;
  color: #353535;
  text-align: justify;
  line-height: 1.6;
  word-spacing: 0.05em;
  width: 100vh;
  height: auto;
  overflow: hidden;
  display: block;
  padding: 1rem;
  margin: 2rem;
  box-shadow: #353535;
}