{% extends 'layout.html' %} {% block title %} POSTS LIST {% endblock %} {% block
content %}
<h1>Blog</h1>
<div class="blogtxt">
  <h2>How to merge wit Github 🔂 🐙</h2>
  <p>
    When you select the Squash and merge option on a pull request, the pull
    request's commits are squashed into a single commit. Instead of seeing all
    of a contributor's individual commits from a topic branch, the commits are
    combined into one commit and merged into the default branch. Pull requests
    with squashed commits are merged using the fast-forward option. To squash
    and merge pull requests, you must have write permissions in the repository,
    and the repository must allow squash merging.
  </p>
</div>
{% endblock %}
